<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.myappproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppProject">

        <activity
            android:name=".activity.ReportLevelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LevelTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManageItemListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LevelTabActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectLevelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InfoMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TelMainActivity"
            android:exported="false" />
        <!--

        android:theme="@style/Theme.AppCompat.NoActionBar">
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        -->
        <activity
            android:name=".activity.LevelMainActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:exported="false">

        </activity>

        <service
            android:name=".service.LocalMusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.service.MUSIC" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RestartMusicService"
            android:enabled="true"
            android:exported="true" />


        <receiver android:name=".receiver.MusicAlarmReceiver" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.myappproject"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_file_path" />
        </provider>
    </application>

</manifest>